extends ./layout_user.jade

block content
  // Right side column. Contains the navbar and content of the page
  aside.right-side
    // Content Header (Page header)
    section.content-header
      h1
        | Dashboard
        small Overview of all your addresses
    // Main content
    section.content
      .row
        .col-lg-3.col-lg-push-9.col-sm-12
          .col-lg-12.col-sm-6
            .small-box.bg-yellow
              .inner
                h3=data.balance*1e6
                  
                p Bits Balance
              .icon
                i.fa.fa-btc
              a.small-box-footer(href="#")
                | More info
                i.fa.fa-arrow-circle-right
          .col-lg-12.col-sm-6
            .small-box.bg-green
              .inner
                h3=data.txApperances
                  
                p Number of Transactions
              .icon
                i.fa.fa-btc
              a.small-box-footer(href="#")
                | More info
                i.fa.fa-arrow-circle-right
        .col-lg-9.col-lg-pull-3.col-sm-12
          .box
            .box-header
              h3.box-title Address Overview
            // /.box-header
            .box-body.table-responsive
              #example1_wrapper.dataTables_wrapper.form-inline(role="grid", style="overflow: hidden")
                table#example1.table.table-bordered.table-striped.dataTable(aria-describedby="example1_info")
                  thead
                    tr(role="row")
                      th.sorting_asc(role="columnheader", tabindex="0", aria-controls="example1", rowspan="1", colspan="1", aria-sort="ascending", aria-label="Rendering engine: activate to sort column descending") Address
                      th.sorting(role="columnheader", tabindex="0", aria-controls="example1", rowspan="1", colspan="1", aria-label="Browser: activate to sort column ascending") Bits Balance
                        th.sorting(role="columnheader", tabindex="0", aria-controls="example1", rowspan="1", colspan="1", aria-label="Platform(s): activate to sort column ascending") Label
                      th.sorting(role="columnheader", tabindex="0", aria-controls="example1", rowspan="1", colspan="1", aria-label="Platform(s): activate to sort column ascending") Last Transaction
                  tfoot
                    tr
                      th(rowspan="1", colspan="1") Address
                      th(rowspan="1", colspan="1") Bits Balance
                      th(rowspan="1", colspan="1") Label
                      th(rowspan="1", colspan="1") Last Transaction
                  tbody(role="alert", aria-live="polite", aria-relevant="all")
                    each addr in data.addr
                      tr.odd
                        td=addr.addressStr
                        td=addr.balanceSat/100
                        td=addr.label
                        td=addr.updated
            // /.box-body
          

    // /.content
  // /.right-side
  
block scripts
  script(src="../../js/plugins/datatables/jquery.dataTables.js", type="text/javascript")
  script(src="../../js/plugins/datatables/dataTables.bootstrap.js", type="text/javascript")
  script(type="text/javascript").
    $(function() {
      $('#example1').dataTable();
    
    });
